*{
    padding: 0;
    margin: 0;
}

html, body{
    background: rgb(193,32,90);
    background: linear-gradient(100deg, rgba(193,32,90,1) 11%, rgb(232, 98, 69) 72%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
