.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #000;
}

.container-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-description h1 {
    font-size: 2.5rem;
    color: #e80049;
    text-align: center;
    font-weight: bold;
}

.container-description h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #000000d5;
}

.container-description span {
    font-size: 1rem;
}

.container-description h3 {
    font-size: 2rem;
    text-align: center;
    color: #e80049;
}

.container-description p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.links {
    display: flex;
    width: 250px;
    height: 50px;
    padding: 3px 15px;
    background-color: #fff;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #e80049;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.597);
    font-weight: bold;
    font-size: 1.7rem;
    transition: 0.3s;
}

.links:hover {
    background-color: #e80049;
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
}

.container-social {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 50px;
}

.container-social img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}

.container-social img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.597);
    border-radius: 16px;
    padding: 10px;
}

.container-maps {
    display: flex;
    flex-direction: column;
}

.container-maps h1 {
    color: #e80049;
    font-size: 2rem;
    font-weight: bold;
}

.container-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    border-radius: 16px;
    margin: 20px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.597);
}

footer {
    color: #e80049;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #e80049;
    font-weight: bold;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 1px;
    margin-bottom: 2px;
}

hr:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

/* Media queries para tornar o código responsivo */

@media screen and (max-width: 768px) {
    .container-main {
        padding: 20px;
    }

    .foto-perfil img {
        width: 150px;
        height: 150px;
    }

    .container-description h1 {
        font-size: 2rem;
    }

    .container-description h2 {
        font-size: 1.2rem;
    }

    .container-description span {
        font-size: 0.8rem;
    }

    .container-description h3 {
        font-size: 1.5rem;
    }

    .container-description p {
        font-size: 1.2rem;
    }

    .container-links {
        margin-bottom: 40px;
    }

    .links {
        width: 200px;
        height: 40px;
        font-size: 1.5rem;
    }

    .container-social img {
        width: 30px;
        height: 30px;
    }

    .container-maps h1 {
        font-size: 1.5rem;
    }


}
